[submodule "backend"]
	path = backend
	url = https://github.com/Danandree/Calcettistiche-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Danandree/Calcettistiche-frontend.git
